#header {
   margin-bottom: 32px;
   font-weight: 400;
   text-align: center;
}
#footer {
   margin-top: 64px;
   text-align: center;
}
p {
   margin-bottom: 12px;
}
h1 {
   font-size: 36px;
   margin-bottom: 0;
  }
h2 {
   font-size: 32px;
   border-bottom: 1px solid #808080;
   margin-bottom: 8px;
}
h2.header-title {
   font-size: 18px;
   border-bottom: none;
   margin-bottom: 10px;
}
